In [34]:
import pandas as pd

pet = pd.read_csv('pet.csv')
tran = pd.read_csv('tran.csv')

In [35]:
tran.head(5)

,Unnamed: 0,Кличка питомца,ИД питомца,Название приюта,Сумма операции,Дата,Номер заказа,lemmas
0,0,Мадлен,1,"Самарский приют для животных ""НадеждА""",95.0,2016-11-08 18:44:35,5944,игрушка
1,1,Мадлен,1,"Самарский приют для животных ""НадеждА""",45.0,2016-11-08 18:44:35,5945,игрушка
2,2,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5946,еда
3,3,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5947,еда
4,4,Мадлен,1,"Самарский приют для животных ""НадеждА""",30.0,2016-11-08 18:44:35,5948,еда

In [36]:
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81527 entries, 0 to 81526
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       81527 non-null  int64
 1   Кличка питомца   81527 non-null  object
 2   ИД питомца       81527 non-null  int64
 3   Название приюта  81527 non-null  object
 4   Сумма операции   81527 non-null  float64
 5   Дата             81527 non-null  object
 6   Номер заказа     81527 non-null  int64
 7   lemmas           81438 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 5.0+ MB

In [1]:
pet

NameError: name 'pet' is not defined

In [37]:
pet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1554 entries, 0 to 1553
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1554 non-null   int64
 1   Кличка             1554 non-null   object
 2   Ссылка на профиль  1554 non-null   object
 3   Приют              1554 non-null   object
 4   Город              1554 non-null   object
 5   Порода             1554 non-null   object
 6   Вид                1554 non-null   object
 7   Дата рождения      1554 non-null   object
 8   Пол                1554 non-null   object
 9   В избранном        1554 non-null   int64
 10  Уже дома           1554 non-null   int64
 11  Забрать домой      1554 non-null   int64
 12  Погулять           1554 non-null   int64
dtypes: int64(5), object(8)
memory usage: 158.0+ KB

In [38]:
tran.rename(columns={'ИД питомца': 'id','lemmas':'Категория'}, inplace=True)

In [39]:
del tran['Unnamed: 0']

In [40]:
del tran['Номер заказа']

In [41]:
tran['sum'] = tran.groupby(['id','Категория'])['Сумма операции'].transform('sum')
del tran['Сумма операции']
tran

,Кличка питомца,id,Название приюта,Дата,Категория,sum
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,игрушка,140.0
1,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,игрушка,140.0
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,еда,120.0
3,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,еда,120.0
4,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,еда,120.0
...,...,...,...,...,...,...
81522,Кай,1560,Котланд-Ярд,2020-04-13 10:39:42,лечение,4756.0
81523,Эрмоса,1564,Лёхин дом,2020-04-13 10:46:21,лечение,500.0
81524,Ритка,1012,Центральный приют Спб для бездомных кошек!,2020-04-13 11:09:26,еда,383.0
81525,Рэмбо,1558,Матроскин,2020-04-13 11:14:17,реклама,324.0
81526,Аврора,1252,Добрые сердца,2020-04-13 11:14:17,реклама,484.0

In [45]:
print(tran.duplicated().sum())

0

In [43]:
tran = tran.drop_duplicates()

In [44]:
tran

,Кличка питомца,id,Название приюта,Дата,Категория,sum
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,игрушка,140.0
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,еда,120.0
5,Фифа,2,Ковчег,2016-11-08 18:44:35,еда,169.0
6,Фифа,2,Ковчег,2016-11-08 18:44:35,лечение,900.0
7,Фифа,2,Ковчег,2016-11-08 18:44:35,туалет,717.0
...,...,...,...,...,...,...
81522,Кай,1560,Котланд-Ярд,2020-04-13 10:39:42,лечение,4756.0
81523,Эрмоса,1564,Лёхин дом,2020-04-13 10:46:21,лечение,500.0
81524,Ритка,1012,Центральный приют Спб для бездомных кошек!,2020-04-13 11:09:26,еда,383.0
81525,Рэмбо,1558,Матроскин,2020-04-13 11:14:17,реклама,324.0
81526,Аврора,1252,Добрые сердца,2020-04-13 11:14:17,реклама,484.0

In [48]:
df = pd.merge(tran, pet, how ='inner', on ='id')

In [107]:
df

,Кличка питомца,id,Название приюта,Дата,Категория,sum,Кличка,Ссылка на профиль,Приют,Город,Порода,Вид,Дата рождения,Пол,В избранном,Уже дома,Забрать домой,Погулять
0,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,игрушка,140.0,Мадлен,https://teddyfood.com/ru/animals/madeleine/,"Самарский приют для животных ""НадеждА""",Самара,Без породы,Кошки,2015-09-23,девочка,0,1,0,0
1,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,еда,120.0,Мадлен,https://teddyfood.com/ru/animals/madeleine/,"Самарский приют для животных ""НадеждА""",Самара,Без породы,Кошки,2015-09-23,девочка,0,1,0,0
2,Мадлен,1,"Самарский приют для животных ""НадеждА""",2016-11-08 18:44:35,лечение,2500.0,Мадлен,https://teddyfood.com/ru/animals/madeleine/,"Самарский приют для животных ""НадеждА""",Самара,Без породы,Кошки,2015-09-23,девочка,0,1,0,0
3,Фифа,2,Ковчег,2016-11-08 18:44:35,еда,169.0,Фифа,https://teddyfood.com/ru/animals/fifa/,Ковчег,Смоленск,Мейн-кун,Кошки,2000-03-03,девочка,0,1,0,0
4,Фифа,2,Ковчег,2016-11-08 18:44:35,лечение,900.0,Фифа,https://teddyfood.com/ru/animals/fifa/,Ковчег,Смоленск,Мейн-кун,Кошки,2000-03-03,девочка,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74607,Кай,1560,Котланд-Ярд,2020-04-13 00:25:40,лечение,4756.0,Кай,https://teddyfood.com/ru/animals/Kai_Kotland/,Котланд-Ярд,Санкт-Петербург,Без породы,Кошки,2019-03-21,мальчик,0,0,0,0
74608,Кай,1560,Котланд-Ярд,2020-04-13 01:02:56,лечение,4756.0,Кай,https://teddyfood.com/ru/animals/Kai_Kotland/,Котланд-Ярд,Санкт-Петербург,Без породы,Кошки,2019-03-21,мальчик,0,0,0,0
74609,Кай,1560,Котланд-Ярд,2020-04-13 10:18:23,лечение,4756.0,Кай,https://teddyfood.com/ru/animals/Kai_Kotland/,Котланд-Ярд,Санкт-Петербург,Без породы,Кошки,2019-03-21,мальчик,0,0,0,0
74610,Кай,1560,Котланд-Ярд,2020-04-13 10:39:42,лечение,4756.0,Кай,https://teddyfood.com/ru/animals/Kai_Kotland/,Котланд-Ярд,Санкт-Петербург,Без породы,Кошки,2019-03-21,мальчик,0,0,0,0
74611,Тео,1522,Матроскин,2020-04-09 20:56:31,еда,43.0,Тео,https://teddyfood.com/ru/animals/Teo_Matros/,Матроскин,Пермь,Без породы,Кошки,2017-05-14,мальчик,0,0,0,0

In [110]:
import matplotlib.pyplot as plt

df['sum'] = df['sum'].fillna(value=0)
df['sum'] = df['sum'].astype('int')

k = df.loc[df['Категория']=='лечение',['sum','Пол']]

In [111]:
k['sum'] = k.groupby('Пол')['sum'].transform('sum')

In [112]:
k

             sum      Пол
2      101426029  девочка
4      101426029  девочка
6      101426029  девочка
8      101426029  девочка
9      101426029  девочка
...          ...      ...
74606   52107349  мальчик
74607   52107349  мальчик
74608   52107349  мальчик
74609   52107349  мальчик
74610   52107349  мальчик

[14596 rows x 2 columns]

In [113]:
j = k.drop_duplicates()
j

          sum      Пол
2   101426029  девочка
11   52107349  мальчик